@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --main-color: black;
    --accent-color: #007bff;
}
body{
    font-family :'Poppins',sans-serif;
    margin:0;
    padding:0;
    background: #f4f6f8;
    color: var(--main-color);
}
html,body{
    max-width: 100%;
    overflow-x:hidden;
}
html{
    scroll-behavior:smooth;
}
h2{
    text-align: center;
    color:var(--accent-color);
    margin-top: 2rem;
    font-size:1.8rem;
}
header{
    position:fixed;
    top:0;
    width:100%;
    background-color: #fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0.8rem 1rem;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    z-index:1000;
}
header h1{
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    color: var(--accent-color);
    letter-spacing: 1px;
    font-size: clamp(1.2rem, 4vw, 1.8rem);
    margin: 0;
    transition: 0.3s;
}
header h1:hover{
    color: #0088cc;
}
#menu-toggle{
    display:none;
}
.hamburger{
    position:fixed;
    top:20px;
    right: 20px;
    width: 30px;
    height: 22px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
    z-index:1100;
}
.hamburger span{
    display:block;
    width:100%;
    height:3px;
    background-color: black;
    border-radius: 2px;
    transition: all 0.3s ease;
}
#menu-toggle:checked + .hamburger span:nth-child(1){
    transform: rotate(45deg) translate(5px,5px);   
}
#menu-toggle:checked + .hamburger span:nth-child(2){
    opacity: 0;
}
#menu-toggle:checked + .hamburger span:nth-child(3){
    transform: rotate(-45deg) translate(6px,-6px);   
}
.nav-list{
    position: fixed;
    top: 0;
    right: 0;
    width: 75vw;
    max-width: 300px;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: -2px 0 10px rgba (0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding-top: 70px;

}
#menu-toggle:checked ~ .nav-list{
    transform: translateX(0);
}
.overlay{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity:0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 900;
}
#menu-toggle:checked ~ .overlay{
    opacity:1;
    pointer-events: auto;
}
.nav-list ul{
    list-style:none;
    padding:20px;
    margin:0;
}
.nav-list ul li{
    margin: 10px 0;
}
.nav-list ul li a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    transition: background 0.3s, color 0.3s;
}
.nav-list ul li a:hover{
   background-color: #dbe1e6;
   color: var(--accent-color);
   font-weight: 600;
   border-radius: 6px;
}
.nav-list ul li a.active{

    background-color: var(--accent-color);
    color:white;
    border-radius: 6px;
    font-weight: 600;
}
section{
    scroll-margin-top:100px;
    width: 85%;
    margin: 1rem auto;
    background: none;
    padding: 2rem 0;
    border-bottom: 1px solid #ddd;
}
section:last-of-type{
    margin-bottom: 3rem;
    border-bottom:none;
}
.main-image{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}
.main-image img{
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
    height: auto;
}
.destination-info h3{
    color: var(--accent-color);
    margin-top: 1rem;
    text-transform: uppercase;
}
.destination-info p, .destination-info ul{
    line-height: 1.6;
    text-align: justify;
    font-size: 1rem;
}
.food-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}
.food-item{
    background: #fdfdfd;
    border: 2px solid #d7d4d4;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;

}
.food-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.food-item img{
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16/10;
    object-fit: cover;
}
.food-item h4{
    color: var(--accent-color);
    margin: 0.8rem 0 0.4rem;
}
.food-item p{
    color: #555;
    font-size: 1rem;
}
.transport-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-top: 1rem;
}
.transport-item{
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}
.transport-item img{
    width: 100%;
    height: 320px;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px;
}
.transport-item h4{
    color: var(--accent-color);
    margin: 0.8rem 0 0.4rem;
}
.transport-item p{
    color: #555;
    font-size: 0.95rem;
}
footer{
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: clamp(1rem,3vw,1.2rem);
    margin-top: 2rem;
    box-shadow: 0px -2px 6px rgba(0,0,0,0.1);
}
footer p{
    color: #555;
    font-size: clamp(0.85rem,2vw, 1rem);
}
@media(max-width:768px){
    section{
        width:90%;
        padding: 1.5rem;
    }
    h2{
        font-size:1.5rem;
    }
    header h1{
        font-size: 1.4rem;
    }
}
@media(max-width:480px){
    .food-item{
        padding: 0.8rem;
    }
    .food-item h4{
        font-size: 1rem;
    }
    .food-item p{
        font-size: 0.9rem;
    }
}